<div class="center jumbotron">


   <h1>The Gossip Project</h1>
   <br>
   <p>
    Titre : <%= Gossip.find(@index).title%>
    <br>
    Potin: <%= Gossip.find(@index).content%>
    <br>
    Date de création :  <%=Gossip.find(@index).created_at%>
   </p>

</div>
